.dsmovie-form-container {
    max-width: 480px;
    /*margin-top 40px right,bottom e left centralizados em relação ao NavBar*/
    margin: 40px auto;
    /*dentro dos 480px espaçamento geral de 20px;*/
    padding: 20px;
}

.dsmovie-form {
    /* os inputs tem largura de 460 px*/
    width: calc(100% - 20px);
}

.dsmovie-form-group {
    /* labels e inputs tem uma margem de fundo com 20px*/
    margin-bottom: 20px;
}

.dsmovie-form-group label {
    font-size: 12px;
    color: #aaa;
}

.dsmovie-form-btn-container {
    display: flex;
    justify-content: center;
}

.dsmovie-movie-card-image {
    /*largura 480px*/
    width: 100%;
    /* 8px para ponta esquerda superior, 8px para ponta direita superior e o resto 0px*/
    border-radius: 8px 8px 0 0;
}

.dsmovie-card-bottom-container {
    background-color: #fff;
    display: flex;
    /*um objeto em cima do outro*/
    flex-direction: column;
    align-items: center;
    /*dentro dos 480px espaçamento 20px para baixo e 10px para o resto*/
    padding: 10px 10px 20px 10px;
    /* 8px para ponta esquerda inferior, 8px para ponta direita inferrior e o resto 0px*/
    border-radius: 0 0 8px 8px;
}

.dsmovie-card-bottom-container h3 {
    color: #4A4A4A;
     /* alinha os itens horizontalmente no centro */
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    min-height: 40px;
}

.dsmovie-btn {
    background-color: var(--color-primary);
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    width: 180px;
    display: flex;
    /* alinha os itens verticalmente no centro */
    align-items: center;
    /* alinha os itens horizontalmente no centro */
    justify-content: center;
}